

.holokitab-images {
    display: flex;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
}

body {
    /* font-family: 'Fredoka One', cursive; */
    /* font-family: 'Poppins', sans-serif; */
}



@media (max-width: 980px) {
    .scan_qr_code {
        position: relative !important;
        left: 0px !important;
    }

    .qr_title {
        margin-left: 10px;
        margin-right: 10px;
    }
}


@media (max-width: 450px) {
    .et_pb_fullwidth_section {
        padding: 0;
        height: 200px;
    }
}
@media (min-width: 320px) and (max-width: 765px) {
    .et_pb_fullwidth_section {
        padding: 0;
        height: 500px;
        background-size: contain;
        width: 100%;
        background-image: url('../../../assests/images/home/header-min.png')
    }
}
@media (min-width: 766px) and (max-width: 1440px) {
    .et_pb_fullwidth_section {
        padding: 0;
        height: 500px;
        background-size: contain;
        width: 100%;
        background-image: url('../../../assests/images/home/header.png')
    }
}
@media (min-width: 766px) and (max-width: 1440px) {
    
    .bookleft {
        /* padding-top: 188px!important; */
    }
    .btnone {
        width: 200px;
    }
    .btntwo {
        width: 200px;
    }
}
@media (min-width: 411px) and (max-width: 1000px) {
    .bookleft {
        /* padding-top: 68px; */
    }
} 
@media (min-width: 1000px){
   
    .holokitabimage {
        display: flex;
    }
    .bookbuttons {
        display: flex!important;
    }
    
   
    
}
.subtitle {
    font-family: 'Fredoka One',display;
}
.bookbuttons {
    display: block;
    justify-content: center;
}
.descontent {
    text-align: center;
    box-sizing: border-box;
}
.description {
    /* background-size: contain; */
    /* max-width: 50%; */
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 8px 0px 8px;
    width: 97%;
    
}
.imagecontainer {
    justify-content: center;
    /* padding-top: 60px; */
    width: 100%;
    max-width: 100%;
   
}
.headimage {
    width: 97%;
    margin-left: 8px;
    border-radius: 6px;
}
.holokitabimage {
    justify-content: space-around;
    width: 100%;
}
.bookleft {
    /* padding-top: 68px; */
    align-items: center;
    text-align: center !important;
    width: 100%;
    align-content: center;
    
}
.bookies {
    width: 100%;
}
.descontent {
    line-height: 1.8;
    /* font-size: 1rem;
    font-weight: 400; */
   font-size: 1rem;
   justify-content: center;

}
.booktitle {
    color: #f0ab47;
    font-weight: 200;
    font-size: 5px;
    font-family: 'Fredoka One',display;
    padding: 0px;
}
.btnone {
    /* color: #fde5e5!important;
    
    border-width: 12px!important;
    border-color: rgba(0,0,0,0);
    border-radius: 50px;
    letter-spacing: 4px;
    font-size: 16px;
    font-family: 'Fredoka One',display!important;
    font-weight: 900!important;
    text-transform: uppercase!important;
    background-color: #ff7f59; */
    /* background-color: #35a855; */
    background-image: linear-gradient(to top left,#35a855,#35a855)!important;
    border-radius: 50px;
    padding: 9px 40px;
    border: 0;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    margin: 0 3px;
    border-width: 12px!important;
  
}
.btntwo {
    /* color: #ff7f59!important;
    
    border-width: 12px!important;
    border-color: rgba(0,0,0,0);
    border-radius: 50px;
    letter-spacing: 4px;
    font-size: 16px;
    font-family: 'Fredoka One',display!important;
    font-weight: 900!important;
    text-transform: uppercase!important;
    background-color: #f8f6f6; */
    border-radius: 50px;
    padding: 9px 30px;
    /* border: 2px solid #8d9fea; */
    font-size: 15px;
    /* color: #8d9fea; */
    color: #fff;
    font-weight: 700;
    margin: 0 3px;
    /* background-color: #5f6ead; */
    border-width: 12px!important;
    background-image: linear-gradient(to top left,#ff8a00,#e52e71)!important;
}
.news_description {
    float: left;    
    margin-right: 20px;
    text-align: justify;
}

.news_image {
    height: 200px;
}

.news_date {
    float: right;
    margin-top: 10px;
    color: #1d2f6f9c
}


.photo_gallery_bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.photo_gallery_top {
    border-top-left-radius: 10px;
    margin-left: 20px;
    border-top-right-radius: 10px;
 }
.photo_gallery_bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
 }


.reviews_container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

.news_title {
    float: left;
}


.scan_qr_code {
    position: relative;
    right: 300px;
    float: left;
}




.header_image {
    background-image: url('./assests/images/home/header.png');
}


.barcode_scan_area {
        width: 100% !important;
}

.barcode_scan_title {
    text-align: center !important;
}


.download_app_title {
    /* margin-left: 100px; */
    border-bottom-left-radius: 1;
    font-family: monospace;
    FONT-WEIGHT: 200;
    margin-bottom: 20px;
    color: #000;
}

.scan_code {
    font-size: 20px;
    text-align: center;
    /* margin-left: 200px; */
    /* margin-right: 100px; */
    font-family: monospace;
    margin-bottom: 20px;
}

.news_heading {
    padding-top: 10px;
    padding-bottom: 10px;
}

.reviews_container {
     margin-top: 20px;
     margin-bottom: 20px;
 }

