
.center {
    text-align: center !important;
}


.pointer {
    cursor: pointer;
}

.mobile_menu_bar:before {
    display: none !important;
    
}

.margin-left {
    margin-left: 70px;
    margin-right: 70px;
}

.left-align {
    float: left;
}


.scan_qr_code {
    float: left;
    position: relative;
    right: 300px;
}